ul {
    list-style-type: none;
    background-color: black;
    width: 100%;
    margin: 0;
    overflow: hidden;
    display: block;
  
    
  }


  li {
    float: left;
    border-right: 1px solid white;
    width: 33%;
    text-align: center;
   
  }

  li:last-child{
      float: left;
      width: 33%;
      border-right: none;
      
  }

  li label {
    
    color: white;
    padding: 30px 150px;
    font-size: larger;
    font-weight: bold;
  }

  li label:hover {
    color: #FFB366;
    cursor: pointer;
  }